@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

/*whole page*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lobster', cursive;
    font-size: 20px;
    height: 100%;

/* NAVBAR AND HEADER STYLING*/

}

.navbar {
    width: 100%;
    height: 5vh;
    background-color:#550066;
    box-shadow: 1px 1px 6px 1px #40004D;
    position: -webkit-sticky;
    position: sticky;
    top: 20px;

}

.topbar {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    
}

.bar {
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 10px;
}

.topbar .bar:hover {
    font-weight: 700;
}

#header1 {
    width: 100%;
    height: 10%;
    background-color:#550066; 
    font-size: 60px;
    color: white;
    display: flex;
    justify-content: center;
    margin-bottom: 3px;
}

.hello-heading {
    color: #550066;
    font-size: 50px;
    padding-top: 30px;
    /*padding-left: ;*/
    margin-left: 30px;
    margin-top: 30px;
    font-weight: lighter;

}

.paragraph1 {
    font-family: 'Times New Roman', Times, serif;
    padding: 25px 10px 10px 30px;
    display: flex;
    text-align: left;
    flex-direction: column;
    width: 55%;

}

.me {
    display: flex;
    justify-content: right;
    margin-left: 95px;
    height: 40vh;
    padding-left: 160px;
    border: 7px solid #FFFBE6;
}

.W3 {
    display: flex;
    padding-left: 30px;
    width: 50%;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

/* MAIN STYLING */

.Anothermain {
    display: flex;
    /*min-height: 65vh;*/
    background-color: #FFFBE6;
    height: 30vh;
    margin-top: 50px;
    justify-content: center;
    /*padding: 20px;*/
}

.favfood {
    /*flex: 1;*/
    /*padding: 10px;*/
    display: flex;
    margin-bottom: 90px;
    padding-left: 115px;
    color: #550066;
    
}

.list1 {
    display: flex;
    justify-content: center;
    padding-left: 122px;
}

.food {
    font-family: 'Times New Roman', Times, serif;
    position: relative; top: 30px; right: 250px;
    margin-top: 80px;
    margin-bottom: 60px;
}


.exercise {
    /*flex: 2;*/
    color: #550066;
    margin-bottom: 90px;
    
    display: flex;
    justify-content: center;
}

.sparetime{
    font-family: 'Times New Roman', Times, serif;
    position: relative; top: 30px; right: 120px;
    list-style: none;

}

.list2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.chocolate {
    margin-bottom: 90px;
    color: #550066;
}

.chocs {
    font-family: 'Times New Roman', Times, serif;
    position: relative; top: 30px; right: 140px;
    list-style: none;
    
}

.list3{
    display: flex;
    justify-content: center;
}

.why{
    display: flex;
    justify-content: center;
    /*color:#550066 ;
    margin-bottom: 20px;*/
}

div {
    display: flex;
    align-items: center;
}

.media {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.fb{
    margin-left: 30px;
}



footer {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}